
<div>
    <h1>Quản lý Danh mục</h1>
    <div class="button-container">
        <h4><a href="#" onclick="loadContent('/views/admin/dashboard.html')" class="button">Quay lại trang chủ</a></h4>
        <h4><a href="#" onclick="loadContent('/views/admin/product/add.html')" class="button">Thêm sản phẩm</a></h4>
    </div>
    <div th:if="${mess}">
        <p style="color: #4CAF50" th:text="${mess}"></p>
    </div>
    <div th:if="${error}">
        <p style="color: #4CAF50" th:text="${error}"></p>
    </div>

    <table id="productsTable">
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Tiêu đề</th>
            <th>Giá bán</th>
            <th>Số lượng</th>
            <th>Chi tiết</th>
            <th>Danh mục</th>
            <th colspan="2">Tác vụ</th>
        </tr>

    </table>
</div>

<script>
    const fetchProducts = async () => {
        const token = localStorage.getItem('token');

        const response = await fetch('/admin/product/list', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            const products = await response.json();
            displayProducts(products);
        } else {
            alert(`Lỗi: ${await response.text()}`);
        }
    };

    const displayProducts = products => {
        const productsTable = document.getElementById('productsTable');
        products.forEach(({ id, name, image, title, price, quantity, details, categoryId  }) => {
            const row = productsTable.insertRow();
            row.innerHTML = `
                    <td>${id}</td>
                    <td>${name}</td>
                     <td>/images/product/${image}</td>
                      <td>${title}</td>
                       <td>${price}</td>
                        <td>${quantity}</td>
                    <td>${details}</td>
                     <td>${categoryId}</td>
                    <td>
                        <button onclick="editProduct(${id})">Sửa</button>
                        <button onclick="deleteProduct(${id})">Xóa</button>
                    </td>
                `;
        });
    };

    const editProduct = id => {
        console.log(`Sửa sản phẩm với ID: ${id}`);
        // Logic sửa sản phẩm có thể được thực hiện ở đây
    };

    const deleteProduct = id => {
        console.log(`Xóa sản phẩm với ID: ${id}`);
        // Logic xóa sản phẩm có thể được thực hiện ở đây
    };

    window.onload = fetchProducts; // Gọi hàm khi trang được tải
</script>
